$color--blue: #4388b3;
$color--teal: #43E7F9;
$color--green:#5BD642;
$color--orange: #ffae18;
$color--red:#FF4732;
$color--white: #fff;

//gray
$color--gray10: #f0f0f04d;
$color--gray50: #f0f0f0;
$color--gray100: #e0e0e0;
$color--gray600: #646464;
$color--gray800: #242424;

//blue
$color--blue10: #9ed7fb;
