
//screen size
$xxsmallScreen: 567px;
$xsmallcreen: 780px;
$smallScreen: 1000px;
$mediumScreen: 1220px;
$largeScreen: 1300px;
$xlargeScreen: 1440px;

$gridSize: 8px;

.cta-button {
    border: 1px solid $color--blue !important;
    border-radius: 2px !important;
    height: $gridSize * 5;
    width: $gridSize * 21;
    color: $color--gray800;

    &:hover {
        background-color: $color--blue;
        color: $color--white;
    }

    @media (max-width: $smallScreen) {
        width: $gridSize * 14;
        font-size: 2 * $gridSize;
    }

    @media (max-width: $xxsmallScreen) {
            width: 108px;
            font-size: 16px;
        }
}

html {
    scroll-behavior: smooth;
}